.form-padding {
padding: 15px
}
.div-container{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    border: 1px solid darkgray;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgb(143, 143, 143);
}
.statics-box{
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 1px 1px 2px lightgrey;
    height: 60px;
    width: 150px;
    display: flex;
    flex-direction: column;
}

.not-available{
    margin-top: 15vh;
    text-align: center;
    font-weight: 100;
    color: #c2c3c4;
}
.nav-link1.active {
    background-color: #dee2e6
}

.table-width{ 
    width: "80%";
    padding: "2%"
}



@media only screen and (max-width: 760px) {
    .div-container{
        margin-left: 0%;
        margin-right: 0%;
        padding-top: 0%;
        border:none;
        border-radius: 0px;
        box-shadow:none
    }
    .table-width{ 
        width: "99%";
        padding: "2%"
    }
    
}