.form-padding {
padding: 15px
}
.div-container{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    border: 1px solid darkgray;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgb(143, 143, 143);
}
.statics-box{
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 1px 1px 2px lightgrey;
    height: 60px;
    width: 150px;
    display: flex;
    flex-direction: column;
}











@media only screen and (max-width: 760px) {
    .div-container{
        margin-left: 0%;
        margin-right: 0%;
        padding-top: 0%;
        border:none;
        border-radius: 0px;
        box-shadow:none
    }
}